#tmp folders
src/.vs
src/debug/qmake/
src/debug/VideoPlayer.tlog/
src/release/qmake/
src/release/VideoPlayer.tlog/

#tem files
*.log
.recipe


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll


# Fortran module files
*.mod
*.smod


# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
# *.exe
*.out
*.app
